[config]
default_to_workspace = false

### Backend ###

[tasks.dev-backend]
script = ["cargo watch -x \"run -p backend\""]

[tasks.build-backend]
command = "cargo"
args = ["build", "--release", "-p", "backend"]

[tasks.move-backend]
script = [
  '''
  #!/usr/bin/env bash
  set -e
  echo "Installing backend into /usr/local/bin/rps_backend"

  doas install -m755 target/release/backend /usr/local/bin/rps_backend
  echo "Done"
  '''
]

### Frontend ###

[tasks.dev-frontend]
command = "trunk"
args = ["watch"]
cwd = "./frontend"

[tasks.build-frontend]
command = "trunk"
args = ["build", "--release", "--dist", "/var/www/rps_game/"]
cwd = "./frontend"

### Server ###

[tasks.serve-app]
command = "doas"
args = ["caddy", "run"]

### Global ###

[tasks.dev]
run_task = {name = [
  "serve-app",
  "dev-backend",
  "dev-frontend"
], parallel = true}

[tasks.deploy]
run_task = { name = [
  "build-frontend",
  "build-backend",
  "move-backend"
] }
