[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = {workspace = true}
serde_json = {workspace = true}
sqlx = {workspace = true}
chrono = {workspace = true}
uuid = {workspace = true}
