*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Segoe UI', system-ui, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.02em;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  --leptoaster-info-background-color: var(--info);
  --leptoaster-success-background-color: var(--success);
  --leptoaster-error-background-color: var(--error);
  --leptoaster-info-text-color: var(--text);
}
