:root {
  font-size: 15px;
  --bg: #1c151c;
  --bg-secondary: #2a1f2a;
  --text: #f8ddf3;
  --accent: #e052c0;
  --accent-hover: #ffa6e8;
  --accent-glow: #ffd6f5;
  --border: #7e3c72;
  --error: #d46a7a;
  --success: #5d8975;
  --info: #453545;

  --transition-fast: 0.2s ease;
  --transition-slow: 0.4s ease-in-out;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 50ch;

  --radius: var(--s-1);
  --padding: var(--s-1) var(--s0)

}

html.light {
  --bg: #dcd5dc;
  --bg-secondary: #c9c0c9;
  --text: #241a24;
  --accent: #a53e88;
  --accent-hover: #c062a7;
  --accent-glow: #d6a6c6;
  --border: #8e5a83;
  --error: #a14d5a;
  --success: #456354;
  --info: #c5b8c5;
}
